.square1{
  background-color:blue;
  height: 70px;
  width:70px;
}
.square2{
  background-color:blue;
  height: 70px;
  width:70px;
}
.square3{
  background-color:blue;
  height: 70px;
  width:70px;
}